table {
	background-color: #FFF;
	border: none;
	color: #565;
	font: 12px arial;
}

table caption {
	font-size: 24px;
	border-bottom: 2px solid #B3DE94;
	border-top: 2px solid #B3DE94;
}

table, td, th {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	text-align: left;
}

tbody td, tbody th {
	background-color: #DFC;
	border-bottom: 2px solid #B3DE94;
	border-top: 3px solid #FFFFFF;
	padding: 9px;
}

tfoot td, tfoot th {
	font-weight: bold;
	padding: 4px 8px 6px 9px;
	text-align: center;
}

thead th {
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	padding: 0 8px 2px;
	text-align: center;
}