@charset "utf-8";

input[type=button]:disabled,input[type=submit]:disabled,button:disabled{color:#999;cursor:auto;}
input[type=button],input[type=submit],input[type=reset],button{
  color:#777777;
  background-color:#ededed;
  font-weight:normal;
  font-family:Arial;
  background:-webkit-gradient(linear, left top, left bottom, color-start(0.05, #ededed), color-stop(1, #f5f5f5));
  background:-moz-linear-gradient(top, #ededed 5%, #f5f5f5 100%);
  background:-o-linear-gradient(top, #ededed 5%, #f5f5f5 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #f5f5f5 100%);
  background:linear-gradient(to bottom, #ededed 5%, #f5f5f5 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #f5f5f5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#f5f5f5',GradientType=0);
  border:1px solid #dcdcdc;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
  box-shadow: inset 0px 0px 0px 0px #ffffff;
  text-align:center;
  display:inline-block;
  text-decoration:none;
}
input[type=button]:enabled:hover,
input[type=button]:enabled:focus,
input[type=submit]:enabled:hover,
input[type=submit]:enabled:focus,
input[type=reset]:enabled:hover,
input[type=reset]:enabled:focus,
button:enabled:hover,
button:enabled:focus{
	background-color:#f5f5f5;
  background:-webkit-gradient(linear, left top, left bottom, color-start(0.05, #f5f5f5), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #f5f5f5 5%, #ededed 100%);
  background:-o-linear-gradient(top, #f5f5f5 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #f5f5f5 5%, #ededed 100%);
  background:linear-gradient(to bottom, #f5f5f5 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #f5f5f5 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ededed',GradientType=0);
}


