@charset "utf-8";

input[type=button]:disabled,input[type=submit]:disabled,button:disabled{color:#999;cursor:auto;}
input[type=button],input[type=submit],input[type=reset],button{
  color:#ffffff;
  background-color:#3ba354;
  font-size:16px;
  font-weight:normal;
  font-family:Arial;
  border:0px solid #dcdcdc;
  -webkit-border-top-left-radius:3px;
  -moz-border-radius-topleft:3px;
  border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  -moz-border-radius-topright:3px;
  border-top-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-bottomleft:3px;
  border-bottom-left-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  -moz-border-radius-bottomright:3px;
  border-bottom-right-radius:3px;
  -moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
  box-shadow: inset 0px 0px 0px 0px #ffffff;
  text-align:center;
  display:inline-block;
  text-decoration:none;
}
input[type=button]:enabled:hover,
input[type=button]:enabled:focus,
input[type=submit]:enabled:hover,
input[type=submit]:enabled:focus,
input[type=reset]:enabled:hover,
input[type=reset]:enabled:focus,
button:enabled:hover,
button:enabled:focus{
	background-color:#1c9439;
}


